@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap');
* {
  font-family: 'Advent Pro', sans-serif;
  color: 
  rgb(177, 209, 178)

}

.main-body {
  background-color: rgb(22, 16, 6);
  background-size: cover;
  background-repeat: no-repeat;
}
.navigation {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(7, 27, 2, 0.473);
  text-decoration: none;
  padding: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  font-size: 20px;

}

.text-link {
  text-decoration: none;
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  transition: 300ms;
  
}

.text-link:hover {
  background-color: rgb(61, 95, 30);
}

.home-link {
  text-decoration: none;
  font-size: 30px;
}

.home-link:hover {
  background-color: rgb(102, 153, 54);
  transform: scale(1.1);
}

.adventures-body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.adventures-page {
  background-color: rgba(16, 51, 8, 0.685);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 50px 50px 30px;
}

.adventure-link {
  text-decoration: none;
  margin-top: 30px;
  padding: 20px;
}

ul {
  list-style-type: none;
}

input, textarea {
  background-color: rgb(219, 209, 150);
  font-size: 20px;
  border: 2px solid black;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.new-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.new-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
}

.new-list, label {
  flex: 1 0 120px;
  max-width: 35vw;
  padding: 30px;
}

.one-adventure:hover {
  background-color: rgb(19, 73, 28);
  color:rgb(37, 25, 7)
}

.new-list, li {
  margin-top: 2vh;
  padding: 10px 26px;
  border: none;
  background:rgb(46, 37, 13);
  letter-spacing: .09em;
  border-radius: 22px;
}

button {
  background-color: rgb(24, 54, 24);
  margin-top: 4px;
  color: rgb(221, 221, 221);
  font-size: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 8px;
}

button:hover {
  background-color: green;
  cursor: pointer;
  transform: scale(1.06);
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.title {
  background-color: rgb(46, 37, 13);
  padding: 20px;
  border-radius: 30px;
}

.search-results {
  margin: 7vh;
  background-color: rgb(105, 129, 105);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 70vw;
  padding: 20px;
  border-radius: 10px;
}

.individual-result {
  padding: 10px;
  margin: 3px;
  background-color: rgb(63, 50, 6);
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.individual-result:hover {
  background-color: rgb(78, 63, 11);
  cursor: pointer;
}

.search-link {
  text-decoration: none;
}

#city {
  width: 30vw;
  margin-right: 20px;
  box-shadow: rgb(0, 0, 0) 0px 2px 4px, rgb(0, 0, 0) 0px 7px 13px -3px, rgb(0, 0, 0) 0px -3px 0px inset;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-details {
  margin-top: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgb(58, 46, 30);
  width: 40vw;
  padding: 30px;
  border-radius: 20px;
}

img {
  margin-top: 2vh;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
}

.address {
  background-color: rgb(37, 25, 7);
  padding: 30px;
  margin-top: 4vh;
  border-radius: 20px;
}

.stop-details {
  background-color: rgb(37, 25, 7);
  padding: 10px;
  margin-top: 1vh;
  border-radius: 20px;
  width: 100%;
}

#add {
  background-color: rgb(36, 25, 1);
}

.add-stop {
  background-color: rgb(24, 54, 24);
  border: 2px solid black;
}

.homely {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  
}

.homelabel {
  width: 40vw;
  background-color: rgba(10, 46, 13, 0.664);
  text-align: center;
  padding: 20px;
  margin-top: 30vh;
  font-size: 30px;
  border-radius: 90px;
}

.select-adv {
  margin-right: 10px;
}